body{
    background-color: steelblue;
    margin:0px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: rgba(17, 138, 169, 0.307);
}