/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base Layer */
@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}
